<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${client.fullName}">Пупкин Вася Иванович</title>
</head>
<body>
<div id="content">
    <h1>Клиент <span th:text="${client.fullName}">Пупкин Вася Иванович</span></h1>

    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Выйти">
    </form>

    <h2>Счета</h2>
    <p><a th:href="@{/client/accounts/create}">Создать счет</a></p>
    <ul class="list-unstyled">
        <li th:each="account : ${client.accounts}">
            <h3 th:text="|${account.number}: ${account.description}|">123: Описание</h3>
            <p>₽ <span th:text="${account.money}">500.00</span></p>
            <ul class="list-inline">
                <li><a th:href="@{/account/{accountNum}/add(accountNum=${account.number})}">Пополнить</a></li>
                <li><a th:href="@{/account/{accountNum}/withdraw(accountNum=${account.number})}">Снять</a></li>
                <li><a th:href="@{/account/{accountNum}/transfer(accountNum=${account.number})}">Перевести</a></li>
                <!--<li><a th:href="@{/account/{accountNum}/download(accountNum=${account.number})}">Выгрузить</a></li>-->
            </ul>
        </li>
    </ul>
</div>
</body>
</html>