<!DOCTYPE html>
<html th:replace="~{layout.html :: layout(~{::title}, ~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Перевод денег</title>
</head>
<body>
<div id="content">

    <h1>Перевод денег</h1>

    <div class="alert alert-danger" th:if="${message}">
        <p th:text="${message}">Ошибка</p>
    </div>

    <form method="post" th:action="@{/account/{accountNum}/transfer(accountNum=${account.number})}" th:object="${transferForm}">
        <div class="form-group" th:classappend="${#fields.hasErrors('receiverNum')}? 'has-error'">
            <label for="receiverNum" class="control-label">Номер счета</label>
            <input type="text" class="form-control" id="receiverNum" th:field="*{receiverNum}">
            <span class="help-block" th:if="${#fields.hasErrors('receiverNum')}" th:errors="*{receiverNum}">Неправильный номер счета</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('sum')}? 'has-error'">
            <label for="sum" class="control-label">Сумма перевода</label>
            <input type="text" class="form-control" id="sum" th:field="*{sum}">
            <span class="help-block" th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}">Неправильная сумма</span>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" id="outer" th:field="*{outer}"> В другой банк
            </label>
        </div>

        <div>
            <input type="submit" class="btn btn-default" value="Перевести">
        </div>
    </form>
</div>

</body>
</html>